* {
	margin: 0, auto;
}

html {
    width: 100%;
    height: 100%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	background-color: rgb(137, 233, 255);
	color: #0b3e49;
}
table{
  border: 3px solid #0b3e49;
  margin-top: 1rem;
  text-align: left;
  border-collapse: collapse;
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(top, bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #0b3e49;
}
table td, table th {
  border: 1px solid #0b3e49;
  padding: 5px 4px;
}
table td {
  font-size: 13px;
}
table th {
  font-size: 15px;
  font-weight: bold;
  color: #0b3e49;
  text-align: left;
}

#title {
	width: 100%;
	height: 100px;
	padding-bottom: 0.4rem;
	padding-top: 0.7rem;
	font-weight: normal;
	text-align: center;
	background-color: rgb(188, 243, 255);
}

.maps{
	white-space: nowrap;
	overflow-x: scroll;
    overflow-y: hidden;
}

#map1 {

	width: 600px; 
	height: 400px;
	margin-left: 1rem;
	display: inline-block;
	margin-right: 1.3rem
}
#map2 { 
	width: 600px; 
	height: 400px;
	margin-right: 1rem;
	display: inline-block;
	
}

#userInput1 {
	display: inline-block;
	white-space: nowrap;
	margin-right: 5rem;
}
#userInput2 {
	display: inline-block;
	white-space: nowrap;
}




#table1{
	display:inline-block;
	margin-left: 1rem;
}
#table2{
	display:inline-block;
	margin-left: 1rem;
}

.ui {
	white-space: nowrap;
}


.ui p{
	display: inline-block;
  	width: 140px;
  	text-align: right;	
}

.ui input{
	width: 100px;
}

#uiControls {
	background-color: rgb(188, 243, 255);
}