<!DOCTYPE html>
<html>
  	<head>
	  	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	  	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    	<!-- Make sure you put this AFTER Leaflet's CSS -->
 		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   		<script type="application/javascript" src="javascript/air.js"></script>
   		<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
   		<link rel="stylesheet" href="css/style.css"/>
	</head>


	<body>
		<div id="app">
		  	<div id="title">
		  		<h1>Air Quality</h1>
		  	</div>
		  	
		  	<div class="maps"/>
			  	<div id="map1"></div>
			  	<div id="map2"></div>
			</div>
			
			<div class = "ui">  	
			  	<div id="userInput1">
			  		<p>Latitude:</p>
			  		<input id="lat1" type="text" name="latitude" :value="map1.latitude">
			  		<p>Longitude:</p>
			  		<input id="long1" type="text" name="longitude" :value="map1.longitude">
			  		<button id="map1B">Go</button>
			  	</div>
			  	
			  	
			  	<div id="userInput2">
			  		<p>Latitude:</p>
			  			<input id="lat2" type="text" name="latitude" :value="map2.latitude">
			  		<p>Longitude:</p>
			  			<input id="long2" type="text" name="longitude" :value="map2.longitude">
			  		<button id="map2B">Go</button>
			  	</div>
			  	<h2>~OR~</h2>
			  	<div id="byCity">
			  		<p>Search by City: </p>
			  		<input id="city1" type="text" :value="map1.city">
			  		<p>Search by City: </p>
			  		<input id="city2" type="text" :value="map2.city">
			  	</div>
			  	<div id="uiControls">
			  		<h2>Filters</h2>
			  		<p>Particle Type</p>
			  		<select id="type" v-model="particleType">
            			<option v-for="option in particleTypeOptions" :value="option.value">{{ option.text }}</option>
        			</select>
        			<select id="type2" v-model="particleValue">
            			<option v-for="option in particleValueOptions" :value="option.value">{{ option.text }}</option>
        			</select>
        			<input id="partVal" type="text" value="" placeholder="particle value"><br>
        			<p>From: </p>
        			<input type="date" min="2019-01-15" max="2019-04-14"><br>
        			<p>To: </p>
        			<input type="date" min="2019-01-15" max="2019-04-14"><br>
			  	</div>
			 </div>


			 <div id = "tables">
			 	<table id = "table1">
			 		<thead>
			 			<th>Particle Type</th>
			 			<th>Particle Value</th>
			 		</thead>
			 		<tbody>
			 			<td>
			 				<option v-for = "option in particleTypeOptions" :value = "option.value">{{option.text}}</option>
			 			</td>
			 			<td>
			 				<option v-for = "option in particleValue" :value = "option.value">{{option.text}}</option>
			 			</td>
			 	</table>
			 	<table id = "table2">
			 		<thead>
			 			<th>Particle Type</th>
			 			<th>Particle Value</th>
			 		</thead>
			 		<tbody>
			 			<td>
			 				<option v-for = "option in particleTypeOptions" :value = "option.value">{{option.text}}</option>
			 			</td>
			 			<td>
			 				<option v-for = "option in particleValue" :value = "option.value">{{option.text}}</option>
			 			</td>
			 	</table>
			 </div>
		</div>
		  	<script>var init = init()</script>

	</body>
 </html>
