<!DOCTYPE html>
<html>
  	<head>
	  	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	  	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    	<!-- Make sure you put this AFTER Leaflet's CSS -->
 		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   		
    	
    	<script type="application/javascript" src="leaflet-heat.js"></script>
   		<script type="application/javascript" src="javascript/air.js"></script>
   		<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
   		<link rel="stylesheet" href="css/style.css"/>
	</head>


	<body>
		<div id="app">
		  	<div id="title">
		  		<h1>Air Quality</h1>
		  	</div>
		  	
		  	<div class="maps"/>
			  	<div id="map1"></div>
			  	<div id="map2"></div>
			</div>
			
			<div class = "ui">  
				<div id = fullScreen>
					<button id = "map1Full">Full Screen</button>
					<button id = "map2Full">Full Screen</button>
				</div>	
				<div>
					<button id = "map1Heat">Add Heat Overlay</button>
				</div>
			  	<div id="userInput1">
			  		<p>Latitude:</p>
			  		<input id="lat1" type="text" name="latitude" :value="map1.latitude">
			  		<p>Longitude:</p>
			  		<input id="long1" type="text" name="longitude" :value="map1.longitude">
			  		<button id="map1B">Go</button>
			  	</div>
			  	
			  	
			  	<div id="userInput2">
			  		<p>Latitude:</p>
			  			<input id="lat2" type="text" name="latitude" :value="map2.latitude">
			  		<p>Longitude:</p>
			  			<input id="long2" type="text" name="longitude" :value="map2.longitude">
			  		<button id="map2B">Go</button>
			  	</div>
			  	<h2>~OR~</h2>
			  	<div id="byCity">
			  		<p>Search by City: </p>
			  		<input id="city1" type="text" :value="map1.city">
			  		<button id="citySearch">Go</button>
			  		<p>Search by City: </p>
			  		<input id="city2" type="text" :value="map2.city">
			  		<button id="city2Search">Go</button>

			  	</div>

			  	<div id="uiControls">
			  		<h2>Filters</h2>
			  		<p>Particle Type</p>
			  		<select id="type" v-model="particleType">
            			<option v-for="option in particleTypeOptions" :value="option.value">{{ option.text }}</option>
        			</select>
        			<select id="type2" v-model="particleValue">
            			<option v-for="option in particleValueOptions" :value="option.value">{{ option.text }}</option>
        			</select>
        			<input id="partVal" type="text" value="" placeholder="particle value"><br>
        			<p>From: </p>
        			<input type="date" min="2019-01-15" max="2019-04-14"><br>
        			<p>To: </p>
        			<input type="date" min="2019-01-15" max="2019-04-14"><br>
			  	</div>
			 </div>

			 
			<div id = "tables">
			 	<table id = "table1">
			 		<thead>
			 			<th>Location</th>
			 			<th>Date/Time</th>
			 			<th v-for = "particle in particleTypeOptions">
			 				{{particle.text}} 
			 				</br><i style="font-size:12px;">µg/m³</i>
			 			</th>
			 		</thead>
			 		<tbody>
			 			<td v-model = "measurements">
			 				<option v-for= "location in measurements">({{location.lat}}, {{location.lon}})</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for= "date in measurements">{{date.date}}</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.pm25 === undefined">-</template>
			 					<template v-else>{{particles.particles.pm25}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.pm10 === undefined">-</template>
			 					<template v-else-if="particles.particles.pm10 < 65"  v-bind:style="{ 'background-color': good }">{{particles.particles.pm10}}</template>
			 						
			 					<template v-else>{{particles.particles.pm10}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.so2 === undefined">-</template>
			 					<template v-else>{{particles.particles.so2}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.no2 === undefined">-</template>
			 					<template v-else>{{particles.particles.no2}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.o3 === undefined">-</template>
			 					<template v-else>{{particles.particles.o3}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.co === undefined">-</template>
			 					<template v-else>{{particles.particles.co}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements">
			 				<option v-for = "particles in measurements">
			 					<template v-if="particles.particles.bc === undefined">-</template>
			 					<template v-else>{{particles.particles.bc}}</template>
			 				</option>
			 			</td>
			 		</tbody>
			 	</table>
			 	<table id = "table2">
			 		<thead>
			 			<th>Location</th>
			 			<th>Date/Time</th>
			 			<th v-for = "particle in particleTypeOptions">
			 				{{particle.text}}
			 				</br><i style="font-size:12px;">µg/m³</i>
			 			</th>
			 		</thead>
			 		<tbody>
			 			<td v-model = "measurements2">
			 				<option v-for= "location in measurements2">({{location.lat}}, {{location.lon}})</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for= "date in measurements2">{{date.date}}</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.pm25 === undefined">-</template>
			 					<template v-else>{{particles.particles.pm25}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.pm10 === undefined">-</template>
			 					<template v-else>{{particles.particles.pm10}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.so2 === undefined">-</template>
			 					<template v-else>{{particles.particles.so2}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.no2 === undefined">-</template>
			 					<template v-else>{{particles.particles.no2}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.o3 === undefined">-</template>
			 					<template v-else>{{particles.particles.o3}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.co === undefined">-</template>
			 					<template v-else>{{particles.particles.co}}</template>
			 				</option>
			 			</td>
			 			<td v-model = "measurements2">
			 				<option v-for = "particles in measurements2">
			 					<template v-if="particles.particles.bc === undefined">-</template>
			 					<template v-else>{{particles.particles.bc}}</template>
			 				</option>
			 			</td>
			 		</tbody>
			 	</table>
			 </div>
			 
		</div>
		  	<script>var init = init()</script>

	</body>
 </html>
